.menuWrapper{
    text-align: center;
    .timer{
        display: inline-block;
        @include testMixin;
        font-family: "orbitronmedium";
    }
    .resetButton{
        display: inline-block;
        text-transform: uppercase;
    }
}