.menuWrapper{
    margin-top: 5px;
    text-align: center;
    .timer,.level{
        display: inline-block;
        font-family: "orbitron";
        font-size: 2em;
        background-color: white;
        padding: 0 5px;
        width: 170px;
    }
    .level{
        margin: 0 20px 0 10px;
        padding: 0 20px;
    }
    .resetButton,.startLevelButton{
        display: inline-block;
        border: 2px solid black;
        box-shadow: 0 0 0 2px black;
        margin-left: 20px;
        font-size: 2em;
        font-family: "lato";
        padding: 0 30px;
        text-transform: uppercase;
        &:active{
            border: 2px solid lighten(black,5%);
            background-color: lightgrey;
            box-shadow: 0 0 0 2px grey;
        }
    }
}