.headerWrapper{
    text-align: center;
    @include testMixin;
    .headerTitle{
        @include testMixin;
        margin-bottom: 0;
    }
    .headerText{
        margin-top: 0;
        @include testMixin;
    }
}