.playfieldWrapper{
    margin-top: 5px;
    text-align: center;
    .welcomeTextWrapper{
        display: none;
        position: absolute;
        text-align: center;
        left: 50%;
        transform: translate(-50%,0);
        top: 30%;
        width: 1000px;
        height: 600px;
        font-size: 2em;
        transition: opacity 0.5s;
        &.goodLuck{
            transition: opacity 1s;
            padding-top: 150px;
            font-size: 4em;
            color: darkgreen;
        }
        .welcomeText{
            .welcomeTitle{
                display: block;
                margin: 20px 0;
                font-size: 1.5em;
                color: blue;
            }
        }
    }
    .playfield{
       background: white;
       border: 2px solid black;
    }
}