.playfieldWrapper{
    margin-top: 5px;
    text-align: center;
    .welcomeTextWrapper{
        display: none;
        position: absolute;
        text-align: center;
        left: 50%;
        transform: translate(-50%,0);
        top: 20%;
        width: 1000px;
        height: 600px;
        font-size: 2em;
        transition: opacity 0.5s;
        padding: 0;
        &.goodLuck{
            transition: opacity 1s;
            padding-top: 150px;
            font-size: 4em;
            color: darkgreen;
        }
        .welcomeText{
            margin-top: 0;
            .welcomeTitle{
                display: block;
                margin: 20px 0;
                font-size: 1.5em;
                color: blue;
            }
        }
    }
    .winScreen{
        position: absolute;
        text-align: center;
        left: 50%;
        transform: translate(-50%,0);
        top: 22vh;
        width: 1000px;
        height: 600px;
        font-size: 2em;
        display: none;
        transition: opacity 0.5s;
        color: darkgreen;
        .winText{
            //padding-top: 150px;
            font-size: 3em;
            margin: 0 auto;
            background-color: white;
        }
        .winTextTime{
            margin: 10px auto;
        }
        .winTimer{
            font-family: "orbitron";
            margin-top: 0;
        }
        .nextLevel{
            font-size: 1.5em;
            margin: 10px auto;
        }
        .nextLevelButton{
            border-radius: 25px;
            font-size: 1.5em;
            background-color: lightseagreen;
        }
    }
    .noMoreLevels{
        position: absolute;
        text-align: center;
        left: 50%;
        transform: translate(-50%,0);
        top: 10vh;
        width: 1000px;
        height: 600px;
        font-size: 3em;
        display: none;
        opacity: 0;
        transition: opacity 0.5s;
        color: darkgreen;
    }
    .noMobile{
        position: absolute;
        text-align: center;
        left: 50%;
        transform: translate(-50%,0);
        top: 45%;
        width: 1000px;
        height: 600px;
        font-size: 2em;
        display: none;
        font-family: "orbitron";
        color: red;
    }
    .playfield{
       background: white;
       border: 2px solid black;
    }
}